.assortment {
  padding-bottom: 147px;

  color: $font-color-dark;
  text-align: center;

  background-color: $bg-color-grey;
}

.assortment h2 {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-top: 150px;
}

.assortment__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 11.74%;
  margin-right: 10.07%;

  @include text (22px, 34px, 600);
}

.assortment__item {
  margin: 0;
  padding: 0;
}

.assortment__item img {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .assortment {
    width: 100%;
    padding-bottom: 124px;
  }

  .assortment h2 {
    margin-bottom: 30px;
    padding-top: 50px;

    @include text (24px, 41px, 600);
  }

  .assortment__list {
    margin-left: 11.59%;
    margin-right: 11.59%;
  }

  .assortment__item img {
    width: 270px;
    height: 300px;
  }
}

@media (max-width: $mobile-width) {
  .assortment {
    padding-bottom: 108px;
  }

  .assortment__list {
    flex-direction: column;

    width: 84.38%;
    margin: 0 auto;
  }
}
