.assortment {
  padding-bottom: 147px;

  color: $font-color-dark;
  text-align: center;

  background-color: $bg-color-grey;
}

.assortment h2 {
  margin: 0;
  padding: 0;
  padding-top: 150px;

  @include text (30px, 30px, 600);
}

.assortment__list {
  display: flex;
  flex-direction: row;
  width: 78.2%;
  margin: 0 auto;

  @include text (22px, 34px, 600);
}

.assortment__item {
  width: 30.37%;
  margin: 0;
  margin-right: 50px;
  padding: 0;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.assortment__item img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .assortment {
    width: 100%;
    padding-bottom: 70px;
  }

  .assortment h2 {
    margin-bottom: 30px;
    padding-top: 50px;

    @include text (24px, 41px, 600);
  }

  .assortment__list {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 76.82%;
  }

  .assortment__item {
    width: 45.69%;
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .assortment {
    padding-bottom: 52px;
  }

  .assortment__list {
    flex-direction: column;

    width: 84.38%;
  }

  .assortment__item {
    width: 270px;
    margin: 0 auto;
  }

  .assortment__item img {
    width: 270px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
