.bike {
  position: relative;
  z-index: 1;
}

.bike__road {
  position: relative;

  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 156px;
    left: -17.54%;
    z-index: -1;

    width: 180px;
    height: 180px;

    border: 27px solid $bg-color-blue;
    border-radius: 50%;

    box-sizing: border-box;
  }
}

.bike__mount {
  position: relative;

  margin-top: 89px;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -5.56%;

    width: 47px;
    height: 47px;

    border: 8px solid $bg-color-blue;

    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 33px;
    left: 92.9%;

    width: 47px;
    height: 47px;

    border: 8px solid $bg-color-blue;

    box-sizing: border-box;
  }
}

.bike__kids {
  position: relative;

  margin-top: 50px;

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 82.75%;

    width: 95px;
    height: 95px;

    border: 17px solid $bg-color-blue;
    border-radius: 50%;

    box-sizing: border-box;
  }
}

@media (max-width: $tablet-width) {
  .bike figure {
    margin-bottom: 50px;

    &:last-child {
      margin: 0 auto;
    }
  }

  .bike__road {
    margin-top: 0;

    &::before {
      top: 201px;
      left: -13.7%;

      width: 127px;
      height: 127px;

      border: 18px solid $bg-color-blue;
    }
  }

  .bike__mount {
    margin-top: 0;

    &::before,
    &::after {
      content: none;
    }
  }

  .bike__kids::before {
    top: -20px;
    left: 84.07%;

    width: 68px;
    height: 68px;

    border: 13px solid $bg-color-blue;
  }
}

@media (max-width: $mobile-width) {
  .bike figure {
    margin-bottom: 40px;
  }

  .bike figcaption {
    height: 36px;
  }

  .bike__road::before {
    left: -24px;
  }

  .bike__kids::before {
    top: -20px;
    left: 80.37%;

    width: 68px;
    height: 68px;

    border: 13px solid $bg-color-blue;
  }
}
