.contacts {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 38.75%;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 96px;
  padding: 0;
}

.contacts a {
  @include text (16px, auto, normal);

  color: rgba(#000000, 0.5%);

  &:hover,
  &:focus {
    color: rgba(#000000, 0.7%);
    text-decoration: underline;
    text-decoration-color: rgba(#000000, 0.7%);
  }
}

.contacts__mail {
  margin-left: 7.35%;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 26px;
    height: 20px;

    background-image: url("../../img/icon-mail.svg");
  }
}

.contacts__phone {
  margin-left: 9.32%;
  padding-right: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 64.14%;

    width: 21.5px;
    height: 23.5px;

    background-image: url("../../img/icon-phone.svg");
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 72.66%;
    margin-top: 15px;
    margin-bottom: 51.88px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    flex-direction: column;

    width: 83.75%;
    margin-top: 30px;
    margin-bottom: 35.88px;
  }

  .contacts a:first-child {
    margin-bottom: 9.12px;
  }

  .contacts__phone::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 29px;

    width: 21.5px;
    height: 23.5px;

    background-image: url("../../img/icon-phone.svg");
  }
}
