.page-footer {
  padding-top: 249px;

  color: $font-color-dark;
  text-align: center;
}

.page-footer__title {
  margin: 0;
  padding: 0;
}

.page-footer__text {
  margin-top: 30px;
  margin-bottom: 41px;
  margin-right: 31.25%;
  margin-left: 30.21%;
  padding: 0;

  @include text (17px, 31px, normal);
}

.page-footer__map {
  margin: 0 auto;
  padding: 0;
  width: 957px;
  height: 530px;

  background-image: url("../../img/map-desktop@1x.jpg");
}
