.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 61%;
  margin: 0 auto;
  margin-bottom: 240px;
}

.promo__intro {
  width: 44.66%;
  margin: 0;
  padding: 0;
}

.promo__intro-logo {
  display: block;
  margin-top: 0;
}

.promo__intro h2 {
  margin: 0;
  margin-bottom: 24px;
  margin-top: 30.72px;

  padding: 0;

  @include text (46px, 64px, bold);
}

.promo__intro p {
  margin: 0;
  padding: 0;

  @include text (20px, 32px, lighter);
}

.promo__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 37.2%;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.promo__form p {
  width: 327px;
  margin: 0;
  padding: 0;

  @include text (17px, 28px, 600);

  text-align: center;
}

.promo__from-list {
  margin: 0;
  padding: 0;
}

.promo__from-list li {
  margin-top: 20px;
}

.promo__form-item {
  width: 100%;
  margin: 0;
  padding: 0;

  @include list-reset();
}

.promo__form input,
.button {
  width: 327px;
  height: 48px;
  margin: 0;
  padding: 0;

  @include text (15px, 24px, normal);

  box-sizing: border-box;
}

.promo__form-item input {
  padding-left: 29px;

  background-color: #ffffff;

  border: 1px solid #c9ccd4;
  border-radius: 6px;

  &:hover {
    border: 2px solid $bg-color-blue;
  }

  &:active,
  &:focus {
    border: 2px solid $bg-color-blue;

    outline: none;
    box-sizing: border-box;
  }
}

.promo__form-item button {
  height: 51px;

  @include text (15px, 21px, 600);
  text-align: center;

  background-color: $bg-color-blue;

  border: 1px solid $bg-color-blue;
  border-radius: 6px;

  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba($bg-color-blue, 0.7%);
    border: rgba($bg-color-blue, 0.7%);
  }

  &:active {
    background-color: #c9ccd4;
    border: #c9ccd4;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .promo__intro {
    position: relative;
    z-index: -1;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;

    background-image: url("../../img/bg-bike-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    background-color: $bg-color-dark;
  }

  .promo__intro-logo {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  .promo__intro h2 {
    margin-top: 134px;
    margin-bottom: 20px;

    @include text (30px, 42px, bold);
  }

  .promo__intro p {
    width: 56.71%;
    margin: 0 auto;
    margin-bottom: 80px;

    @include text (18px, 32px, lighter);
  }

  .promo__form {
    width: 325px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0;
    color: black;
  }

  .promo__form p {
    width: 100%;
    margin-bottom: 10px;

    @include text (18px, 28px, 600);
  }

  .promo__form-item input {
    width: 100%;
    padding-left: 21px;
  }

  .promo__form-item button {
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba($bg-color-blue, 0.5%);
      border: 2px solid $bg-color-blue;
    }

    &:active {
      background-color: #c9ccd4;
      border: #c9ccd4;
    }
  }
}

@media (max-width: $mobile-width) {
  .promo__intro {
    background-image: url("../../img/bg-bike-mobile@1x.jpg");
  }

  .promo__intro-logo {
    top: 25px;
    left: 16px;
  }

  .promo__intro-logo img {
    width: 67.6px;
    height: 20.28px;
  }

  .promo__intro h2 {
    margin-top: 120px;
  }

  .promo__intro p {
    width: 87.6%;
    margin-bottom: 70px;
  }

  .promo__form {
    width: 288px;
  }

  .promo__form p {
    margin-bottom: 0;
  }

  .promo__form-item input {
    padding-left: 26px;
  }
}
