.video {
  position: relative;
  max-height: 706px;
  margin: 0;
  padding: 0;

  text-align: center;

  background-color: $bg-color-dark;
}

.video h2 {
  margin: 0;
  padding: 0;
  padding-top: 120px;
  margin-bottom: 20px;

  @include text (30px, 30px, 600);
}

.video p {
  display: block;

  width: 23.61%;
  margin: 0 auto;
  margin-bottom: -42px;
  padding: 0;

  @include text (16px, 28px, lighter);
}

.video__player {
  position: relative;
  top: 98px;

  width: 64.51%;
  margin: 0 auto;
}

.video__player img {
  width: 100%;
  height: auto;
}

.video__player svg {
  position: absolute;
  top: 229px;
  left: 46.5%;

  &:hover,
  &:focus {
    top: 219px;
    left: 45.43%;

    width: 85px;
    height: 85px;
  }

  &:active {
    top: 229px;
    left: 46.5%;

    width: 65px;
    height: 65px;
  }
}

@media (max-width: $tablet-width) {
  .video {
    max-height: 413px;
  }

  .video h2 {
    padding-top: 70px;

    @include text (24px, 30px, 600);
  }

  .video p {
    display: block;

    width: 55.73%;
    margin-bottom: -45px;
  }

  .video__player {
    top: 85px;

    width: 65.49%;
  }

  .video__player svg {
    top: 96px;
    left: 40.95%;

    width: 90.36px;
    height: 90.36px;

    &:hover,
    &:focus {
      top: 91px;
      left: 39.96%;

      width: 100.36px;
      height: 100.36px;
    }

    &:active {
      top: 96px;
      left: 40.95%;

      width: 90.36px;
      height: 90.36px;
    }
  }
}

@media (max-width: $mobile-width) {
  .video {
    max-height: 384px;
  }

  .video h2 {
    padding-top: 84px;
  }

  .video p {
    width: 95%;
    margin-bottom: 1.34px;
  }

  .video__player {
    top: 48.66px;

    width: 90%;
  }

  .video__player svg {
    top: 48px;
    left: 38.89%;

    width: 65px;
    height: 65px;

    &:hover,
    &:focus {
      top: 43px;
      left: 37.15%;

      width: 75px;
      height: 75px;
    }

    &:active {
      top: 48px;
      left: 38.89%;

      width: 65px;
      height: 65px;
    }
  }
}
