.video {
  min-height: 706px;
  margin: 0;
  padding: 0;
  padding-top: 120px;
  box-sizing: border-box;

  text-align: center;

  background-color: $bg-color-dark;
}

.video h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.video p {
  display: block;

  width: 23.61%;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0;

  @include text (16px, 28px, lighter);
}

.video__player {
  position: absolute;
  left: 17.78%;
}

.video__player svg {
  position: absolute;
  top: 229px;
  left: 432px;
}

@media (max-width: $tablet-width) {
  .video {
    min-height: 413px;
    padding-top: 70px;
  }

  .video h2 {
    @include text (24px, 30px, 600);
  }

  .video p {
    display: block;

    width: 55.73%;
    margin-bottom: 40px;
  }

  .video__player {
    left: 17.32%;
  }

  .video__player img {
    width: 503px;
    height: 282px;
  }

  .video__player svg {
    top: 96px;
    left: 206px;

    width: 90.36px;
    height: 90.36px;
  }
}

@media (max-width: $mobile-width) {
  .video {
    min-height: 384px;
    padding-top: 84px;
  }

  .video p {
    display: block;

    width: 90%;
    margin-bottom: 50px;
  }

  .video__player {
    left: 0;

    width: 100%;
    margin: 0 auto;
  }

  .video__player img {
    width: 90%;
    height: 161.66px;
  }

  .video__player svg {
    top: 48px;
    left: 128px;

    width: 65px;
    height: 65px;
  }
}
