$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$bg-color-main: #e5e5e5;
$bg-color-grey: #f6f7f9;
$bg-color-dark: #131314;
$bg-color-blue: #0ad9c6;

$font-family: "Open Sans", "Arial", sans-serif;

$font-color-light: #ffffff;
$font-color-dark: #1f1f1f;
